.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 7.21vh;
  padding: 2.99vh 0px;
  position: relative;
  
}

.main .logo {
  position: relative;
  width: 28.54vh;
  height: 4.7vh;
}

.main .overlap-group {
  position: relative;
  width: 28.33vh;
  height: 4.72vh;
}

.main .rim {
  position: absolute;
  width: 28.33vh;
  height: 4.72vh;
  top: 0;
  left: 0;
}

.main .group {
  height: 4.72vh;
  border-left-width: 0.79vh;
  border-left-style: solid;
  border-color: #4489ff;
}

.main .rectangle {
  position: relative;
  width: 28.33vh;
  height: 4.72vh;
  top: -0.83vh;
  left: -0.83vh;
  border: 0.18vh solid;
  border-color: #4489ff;
}

.main .text-wrapper {
  position: absolute;
  width: 28.33vh;
  height: 3.33vh;
  top: 0.65vh;
  left: 0;
  font-family: "GT America-ExtendedBlack", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 2.44vh;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .frame {
  position: relative;
  width: 108.21vh;
  height: 220.72vh;
  overflow: hidden;
}

.main .header {
  display: flex;
  width: 108.24vh;
  height: 47.69vh;
  align-items: center;
  justify-content: center;
  gap: 2.26vh;
  padding: 2.71vh 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        --------------------------

.main .left {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.48vh;
  position: relative;
  flex: 0 0 auto;
}

.main .div {
  position: relative;
  width: 54.56vh;
  height: 15.56vh;
  margin-top: -0.06vh;
  font-family: "GT America-ExtendedBlack", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 5.41vh;
  letter-spacing: 0;
  line-height: 5.30vh;
}

.main .p {
  position: relative;
  width: 40.24vh;
  height: 7.05vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 1.81vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2.14vh;
  position: relative;
  flex: 0 0 auto;
}

.main .CTA {
  position: relative;
  width: 14.05vh;
  height: 4.34vh;
}

.main .div-wrapper {
  position: relative;
  width: 13.89vh;
  height: 4.35vh;
  border-radius: 2.03vh;
  background: linear-gradient(90deg, #7328FD 0%, #EB00B4 50%, #FF5A50 100%);
}

.main .text-wrapper-2 {
  position: absolute;
  width: 10.74vh;
  top: 0.93vh;
  left: 1.48vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.81vh;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .outlined {
  position: relative;
  width: 14.82vh;
  height: 4.34vh;
  margin-right: -0.19vh;
} 

.main .overlap {
  position: relative;
  width: 14.63vh;
  height: 4.35vh;
  background-color: #111111;
  border-radius: 2.03vh;
  border: 0.22vh solid;
  border-color: #4489ff;
}

.main .text-wrapper-3 {
  position: absolute;
  width: 14.63vh;
  top: 0.74vh;
  left: -0.19vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 400;
  color: #4489ff;
  font-size: 1.81vh;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .rectangle-wrapper {
  position: relative;
  width: 42.28vh;
  height: 42.28vh;
}

.main .img {
  position: absolute;
  width: 45.09vh;
  height: 45.09vh;
  top: -0.74vh;
  left: -1.39vh;
}

.main .about-us {
  display: flex;
  width: 97.96vh;
  height: 18.61vh;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  position: absolute;
  top: 54.35vh;
  left: 5.09vh;
}

.main .text-wrapper-4 {
  position: relative;
  width: 42.61vh;
  height: 13.75vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 1.81vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  margin-left: -6.37vh;
}

.main .text-wrapper-5 {
  position: relative;
  width: 61.71vh;
  height: 3.38vh;
  margin-top: -0.06vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 2.25vh;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.main .who-am-i-what-i-do {
  position: relative;
  width: 52.71vh;
  height: 15.89vh;
  margin-top: -0.68vh;
  font-family: "GT America-Black", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 5.41vh;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.main .span {
  color: #ffffff;
}

.main .text-wrapper-6 {
  color: #acc6f1;
}

.main .services {
  display: flex;
  flex-direction: column;
  width: 97.87vh;
  height: 79.26vh;
  align-items: center;
  justify-content: center;
  gap: 3.16vh;
  position: absolute;
  top: 79.63vh;
  left: 5.19vh;
}

.main .div-2 {
  align-items: center;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.main .text-wrapper-7 {
  position: relative;
  width: 61.71vh;
  height: 3.38vh;
  margin-top: -0.06vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 2.25vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .what-i-have-worked {
  position: relative;
  width: 53.77vh;
  height: 15.89vh;
  margin-top: -0.68vh;
  font-family: "GT America-Black", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 5.41vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-8 {
  position: relative;
  width: 42.56vh;
  height: 5.07vh;
  margin-left: -6.37vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 1.81vh;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.main .div-3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.76vh;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.main .div-4 {
  position: relative;
  width: 97.35vh;
  height: 9.30vh;
  margin-right: -0.19vh;
}

.main .text-wrapper-9 {
  position: absolute;
  width: fit-content;
  top: 0;
  left: 0;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 400;
  color: #ffffff73;
  font-size: 5.41vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .arrow {
  position: absolute;
  width: 6.48vh;
  height: 6.48vh;
  top: 0;
  left: 90.65vh;
  background-color: #00000040;
  border-radius: 3.24vh;
  border: 0.11vh solid;
  border-color: #55555573;
}

.main .arrow-2 {
  position: absolute;
  width: 2.41vh;
  height: 2.41vh;
  top: 1.94vh;
  left: 1.94vh;
}

.main .line {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.09vh;
  top: 9.26vh;
  left: 0.65vh;
}

.main .text-wrapper-10 {
  position: absolute;
  width: 62.13vh;
  top: 0;
  left: 0;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 5.41vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .arrow-3 {
  position: absolute;
  width: 3.24vh;
  height: 2.87vh;
  top: 1.67vh;
  left: 1.57vh;
}

.main .contact {
  display: flex;
  flex-direction: column;
  width: 97.87vh;
  height: 55.19vh;
  align-items: center;
  justify-content: center;
  gap: 3.16vh;
  position: absolute;
  top: 165.56vh;
  left: 5.19vh;
}

.main .text-wrapper-11 {
  position: relative;
  width: 42.56vh;
  height: 6.93vh;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 1.81vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .frame-4 {
  flex-direction: column;
  align-items: flex-end;
  margin-left: -6.37vh;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.main .get-in-touch-with-me {
  position: relative;
  width: 53.43vh;
  height: 15.89vh;
  margin-top: -0.68vh;
  font-family: "GT America-Black", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 5.41vh;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-12 {
  position: absolute;
  width: 64.07vh;
  top: 0;
  left: 0;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 400;
  color: #ffffff73;
  font-size: 5.41vh;
  letter-spacing: 0;
  line-height: normal;
}

.main .service {
  height: 9.30vh;
  position: relative;
  width: 97.35vh;
  margin-right: -0.19vh;
}

.main .text-wrapper-13 {
  position: absolute;
  width: 84.35vh;
  top: 0;
  left: 0;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 400;
  color: #ffffff73;
  font-size: 5.41vh;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width:1010px) {
  .main {
    gap: 3vh;
  }

  .main .text-wrapper-6 {
    font-size: 4vh;
  }

  .main .left {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vh;
  }

  .main .div {
    text-align: center;
    font-size: 4vh;
    width: 75vw;
  }

  .main .p {
    text-align: center;
  }

  .main .rectangle-wrapper {
    display: none;
  }

  .main .about-us {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5vh;
    justify-content: center;
  }

  .main .who-am-i-what-i-do {
    text-align: center;
    height: auto;
  }

  .main .text-wrapper-5 {
    text-align: center;
    font-size: 1.66vh;
    height: auto;
    width: 100vw;
  }

  .main .frame-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vh;
    width: 75vw;
  }

  .main .whoAmIBR {
    display: none;
  }

  .main span.span {
    display: none;
    height: 0;
    width: 0;
  }

  .main .text-wrapper-4 {
    text-align: center;
    width: 75vw;
  }
}